:root {
/* ### Primary */
--VeryDarkMagenta: hsl(300, 43%, 22%);
--Soft_Pink: hsl(333, 80%, 67%);

/* ### Neutral */
--Dark_Grayish_Magenta: hsl(303, 10%, 53%);
--Light_Grayish_Magenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);

--body_font_size: 15px;

--font-family: 'League Spartan', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--body_font_size);
    background: var(--White);
    height: 100vh;
    width: 100%;
    
}

.main {
    background: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.flex-upper-text-container h1 {
    font-family: var(--font-family);
    color: var(--VeryDarkMagenta);
    text-align: center;
    font-weight: 700;
    padding: 3rem 0;
    margin: 0 1rem;
}

.flex-upper-text-container p {
    font-family: var(--font-family);
    color: var(--Dark_Grayish_Magenta);
    text-align: center;
    line-height: 1.2rem;
    padding-bottom: 2rem;
    margin: 0 1rem;
}

.images-stars,
.star-spacing p {
    font-family: var(--font-family);  
    font-weight: 700;  
    /* padding: 0 3rem 1rem 3rem; */
    background-color: var(--Light_Grayish_Magenta);
    color: var(--VeryDarkMagenta);
    margin: 0 1rem;
    padding-bottom: 5px;
    text-align: center;    
}

.images-stars {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 5px;
}

.star-spacing p {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 1rem;
}

.boxes {
    background-color: var(--VeryDarkMagenta);
    color: var(--White);
    border-radius: 5px;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    flex: 1;
    flex-wrap: wrap;   
}

.buyer-boxes {
    padding-bottom: 3rem;
}

.box-image-photo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1rem;
}

.box-image-photo img {
    border-radius: 50%;
    padding-right: 1rem;
}

.buyer {
   color: var(--Soft_Pink);
}



@media (min-width: 768px) {

    .main {
        max-width: 1440px; 
        margin: 1rem auto;     
    }

    .flex-upper-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2rem 3rem;        
    }

    .flex-upper-text-container {
        width: 40%;    
    }


    .flex-upper-text-container h1 {        
        text-align: left;
        margin: 0 1rem;
    }
    
    .flex-upper-text-container p {
        text-align: left;        
    }

    .flex-five-star-reviews-container {        
        min-width: 400px;
        max-width: 50%;
        padding: 3rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 1;
        margin-right: 1rem;
    }

    .images-stars,
    .star-spacing p {    
    margin: 0 0rem;   
}    

    .five-star-reviews,
    .five-star-reviews-report-guru,
    .five-star-reviews-best-tech {
        display: flex; 
        align-items: center;
        justify-content: flex-start;
        background-color: var(--Light_Grayish_Magenta);
        margin-bottom: 1rem;
        padding: 0 0.5rem;
    }

    .star-spacing p {
        padding-top: 10px; 
        padding-left: 1rem;       
    }

    .images-stars{
        padding-top: 10px;
    }

    .five-star-reviews {
        width: 85%;
        flex: 1;
        align-self: flex-start;        
    }

    .five-star-reviews-report-guru {
        width: 85%;
        flex: 1;
        align-self: center;        
    }

    .five-star-reviews-best-tech{
        width: 85%;
        flex: 1;
        align-self: flex-end;       
    }    

    .buyer-boxes {
        display: flex;
        flex-direction: row;
        padding: 0rem 3rem 3rem 3rem;
        align-items: flex-start;
    } 

    #box-2 {
        margin-top: 2.0rem;
    }

    #box-3 {
        margin-top: 3rem;
    }

   

    
    

    

    




}



